# Visual Studio 2017 user specific files
.vs/

# Various intermediate files
GameEngine/GameEngineLib/intermediate/
GameEngine/Main/intermediate/
GameEngine/UnitTests/intermediate/

#.libs to ignore
bin/x64/*.lib
bin/x64/*.ilk
bin/x64/*.pdb

# Executables
*.exe
*.out
*.app
*.ipa

# Mac Artifacts
*.DS_Store
/GameEngine/GameEngineLib/src/Meshes/bridge_low_poly.obj
/GameEngine/GameEngineLib/src/Meshes/bridge_low_poly.mtl
