# Visual Studio 2017 user specific files
.vs/

# Various intermediate files
RayTracing/TurnerRayTracing/intermediate/

#.libs to ignore
bin/x64/*.lib
bin/x64/*.ilk
bin/x64/*.pdb

# Executables
*.exe
*.out
*.app
*.ipa

# Mac Artifacts
*.DS_Store

RayTracing/TurnerRayTracing/src/P3D_Project.xcodeproj/
/RayTracing/TurnerRayTracing/src/NFFParser.cpp
/Bin/x64/TurnerRayTracing.ipdb
/Bin/x64/TurnerRayTracing.iobj
